In [1]:
#Import conventions
import numpy as np
import pandas as pd

In [12]:
df2015 = pd.read_csv('C:/Users/Junaid/Projects/Migrator/CountyToCountyMigrationFlow/2015/alldata2015.csv')

In [13]:
df2016 = pd.read_csv('C:/Users/Junaid/Projects/Migrator/CountyToCountyMigrationFlow/2016/alldata2016.csv')

In [14]:
df2017 = pd.read_csv('C:/Users/Junaid/Projects/Migrator/CountyToCountyMigrationFlow/2017/alldata2017.csv')

In [15]:
df2018 = pd.read_csv('C:/Users/Junaid/Projects/Migrator/CountyToCountyMigrationFlow/2018/alldata2018.csv')

In [16]:
df2019 = pd.read_csv('C:/Users/Junaid/Projects/Migrator/CountyToCountyMigrationFlow/2019/alldata2019.csv')

In [38]:
df2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445867 entries, 0 to 445866
Data columns (total 17 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Table with column headers in rows 2 through 3.  445867 non-null  int64
 1   Unnamed: 1                                      445867 non-null  int64
 2   Unnamed: 2                                      445867 non-null  object
 3   Unnamed: 3                                      435593 non-null  float64
 4   Unnamed: 4                                      445867 non-null  object
 5   Unnamed: 5                                      445867 non-null  object
 6   Unnamed: 6                                      445867 non-null  object
 7   Unnamed: 7                                      445867 non-null  object
 8   Unnamed: 8                                      445867 non-null  int64
 9   Unnamed: 9                                      445867 non-null  int64
 10  Unnamed: 10                                     435593 non-null  float64
 11  Unnamed: 11                                     435593 non-null  float64
 12  Unnamed: 12                                     435593 non-null  float64
 13  Unnamed: 13                                     435593 non-null  float64
 14  Unnamed: 14                                     435593 non-null  float64
 15  Unnamed: 15                                     435593 non-null  float64
 16  year                                            445867 non-null  int64
dtypes: float64(7), int64(5), object(5)
memory usage: 57.8+ MB

In [30]:
#df2015ColumnNames = df2015.columns.values

In [31]:
#df2015ColumnNames

In [25]:
# columnNamesDict = {}

In [26]:
# for i in df2015ColumnNames:
#     columnNamesDict[i] =

In [29]:
def changeColumnNames(df):
    column_names = {
        'Table with column headers in rows 2 through 3.': 'State Code A',
        'Unnamed: 1': 'County Code A',
        'Unnamed: 2': 'State Code B',
        'Unnamed: 3': 'County Code B',
        'Unnamed: 4': 'State A',
        'Unnamed: 5': 'County A',
        'Unnamed: 6': 'State B',
        'Unnamed: 7': 'County B',
        'Unnamed: 8': 'Inflow A',
        'Unnamed: 9': 'Inflow A MOE',
        'Unnamed: 10': 'Outflow A',
        'Unnamed: 11': 'Outflow A MOE',
        'Unnamed: 12': 'Net Migration B to A',
        'Unnamed: 13': 'Net Migration MOE',
        'Unnamed: 14': 'Gross Migration',
        'Unnamed: 15': 'Gross Migration MOE',
        'year': 'Data Year'
    }

    df.rename(columns = column_names, inplace = True)
    
    
    
    return df

In [34]:
df2015 = changeColumnNames(df2015)

In [36]:
df2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453257 entries, 0 to 453256
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   State Code A          453257 non-null  int64
 1   County Code A         453257 non-null  int64
 2   State Code B          453257 non-null  object
 3   County Code B         442931 non-null  float64
 4   State A               453257 non-null  object
 5   County A              453257 non-null  object
 6   State B               453257 non-null  object
 7   County B              453257 non-null  object
 8   Inflow A              453257 non-null  int64
 9   Inflow A MOE          453257 non-null  int64
 10  Outflow A             442931 non-null  float64
 11  Outflow A MOE         442931 non-null  float64
 12  Net Migration B to A  442931 non-null  float64
 13  Net Migration MOE     442931 non-null  float64
 14  Gross Migration       442931 non-null  float64
 15  Gross Migration MOE   442931 non-null  float64
 16  Data Year             453257 non-null  int64
dtypes: float64(7), int64(5), object(5)
memory usage: 58.8+ MB

In [39]:
df2015.head()

,State Code A,County Code A,State Code B,County Code B,State A,County A,State B,County B,Inflow A,Inflow A MOE,Outflow A,Outflow A MOE,Net Migration B to A,Net Migration MOE,Gross Migration,Gross Migration MOE,Data Year
0,1,1,001,3.0,Alabama,Autauga County,Alabama,Baldwin County,54,57,130.0,86.0,-76.0,103.0,184.0,103.0,2015
1,1,1,001,5.0,Alabama,Autauga County,Alabama,Barbour County,6,13,0.0,21.0,6.0,13.0,6.0,13.0,2015
2,1,1,001,7.0,Alabama,Autauga County,Alabama,Bibb County,0,27,149.0,164.0,-149.0,164.0,149.0,164.0,2015
3,1,1,001,9.0,Alabama,Autauga County,Alabama,Blount County,3,5,0.0,27.0,3.0,5.0,3.0,5.0,2015
4,1,1,001,11.0,Alabama,Autauga County,Alabama,Bullock County,7,13,6.0,12.0,1.0,17.0,13.0,18.0,2015